//File has the purpose of keeping all the variables

//Fonts
$fonte: 'Roboto', sans-serif;

//Colors

$cor-primaria: #1640D6;
$cor-secundaria: #ED5AB3;
$cor-terciaria: #FF90C2;

//font-size
$tamanho-do-texto: 3rem;